<!-- <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 sticky-top">
  <div class="container">
      <a href="#" class="navbar-brand text-success"><i class="fas fa-piggy-bank"></i> Easy</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu"><span
              class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navmenu">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item"><a routerLinkActive="active" routerLink="/signup" class="nav-link">Sign Up</a></li>
              <li class="nav-item"><a routerLinkActive="active" routerLink="/studentdetails" class="nav-link">Student Details</a></li>
              <li class="nav-item"><a routerLinkActive="active" routerLink="/siblintwo" class="nav-link">Siblings Two</a></li>
              <li class="nav-item"><a routerLinkActive="active" routerLink="/siblinone" class="nav-link">Sibling One</a></li>
              <li class="nav-item"><a routerLinkActive="active" routerLink="/users" class="nav-link">Users</a></li>
              <li class="nav-item"><a routerLinkActive="active" routerLink="/sign-in" class="nav-link">Login</a></li>
          </ul>
      </div>
  </div>
</nav> -->
<router-outlet>
  <!-- <app-signup ></app-signup> -->
</router-outlet>
